@import url(https://fonts.googleapis.com/css?family=Roboto:100);

html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #0E1C36;
}


h1, h2 {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}

h1 {
  font-size: 100px;
  color: white;
  
}

h2 {
  font-size: 50px;
  font-weight: 500;
  color: white;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 550px;
  height: 550px;
  background-color: #eee;
  padding: 10px;
  border: 2px solid lightgray;
  border-radius: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2C423F;
}

.sqr {
  width: 150px;
  height: 150px;
  background-color: #A9C6C3;
  border: 2px solid #333;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 100px;
  transition: transform 0.2s ease-in-out;
}

.sqr:hover {
  background-color: #F4AC45;
  transform: translateY(-10px);
  
}

.sqr:not(:empty) {
  width: 150px;
  height: 150px;
  background-color: #A9C6C3;
  border: 2px solid #333;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 100px;
  background-color: #F4AC45;
  pointer-events: none;
}

.btn-container {
  margin-top: 60%;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border-radius: 1rem;
  padding: 1px;
  width: 80px;
  height: 80px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease-in-out;
}

.btn:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}